@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-black: #222222;
  --main-gray:#CCCCCC 
  --dark-gray:#3D3C42;
  --main-white: #f7f7f7;
  --main-orange: #F77F00;
  --dark-orange: #E36414;
  --main-purple: #8B2FC9;
  --dark-purple: #7400B8;
  --light-purple:#8158E5;
  --main-red: #D62839;
  --dark-red: #BD1E1E;
  --main-yellow:#FFCB05;
  --dark-yellow:#F9A620;
}

body {
  background: var(--main-black);
}
